.git
.gitignore
.pytest_cache
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.eggs
tests
requirements-dev.txt
docs
logs
*.log
.vscode
.idea
*.swp
.DS_Store
Thumbs.db
image.png
Dockerfile
.dockerignore
